@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', serif;
}

/* Header and Hero Text info */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.header, .hero {
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px 96px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
}

.hero .text button {
    width: 96px;
    padding: 12px;
    box-sizing: border-box;
}

.header h1, .hero .text h1 {
    color: #f9faf8
}

.header ul li a, .hero .text p {
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    font-size: 24px;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    min-width: 300px;
    width: 600px;
    min-height: 150px;
    height: 300px;
    object-fit: cover;
}

/* Information boxes */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 3rem 0rem;
}

.info h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 250px;
    text-align: center;
    font-size: 110%;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 30rem;
}

.quote p i {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .source {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #3882f6;
    margin: 5rem 20rem;
    padding: 2.5rem 5rem;
    font-size: 24px;
    color: #e5e7eb;
}

.cta .text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.cta .text b {
    font-size: 110%;
}

.cta button {
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    width: 150px;
    height: 100px;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 2.5em 0em;
}